<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.edu.fjnu.dao.OuttypeDao">
	
	<resultMap type="cn.edu.fjnu.entity.Outstock" id="findOutstockMap">
		<id column="id" property="id"/>
		<result column="out_number" property="number"/>
	</resultMap>
	
	<!-- 查看出库类型 -->
	<select id="findOuttype" resultType="cn.edu.fjnu.entity.Outtype">
		select * from outtype
	</select>
	
	<!-- 根据id查询出库类型 -->
	<select id="findOuttypeById" parameterType="java.lang.Integer" resultType="cn.edu.fjnu.entity.Outtype">
		select * from outtype where id=#{id}
	</select>
	
	<!-- 添加出库类型 -->
	<select id="addOuttype" parameterType="cn.edu.fjnu.entity.Outtype">
		insert into outtype(outtypeNumber,outtypeName,note) values(#{outtypeNumber},#{outtypeName},#{note}) 
	</select>
	
	<!-- 修改出库类型 -->
	<update id="updateOuttypeById" parameterType="cn.edu.fjnu.entity.Outtype">
		update outtype set outtypeNumber=#{outtypeNumber},outtypeName=#{outtypeName},note=#{note} where id=#{id}
	</update>
	
	<!-- 删除出库类型 -->
	<delete id="deleteOuttypeById" parameterType="java.lang.Integer">
		delete from outtype where id=#{id}
	</delete>
	
	<!-- 根据出库类型查询出库信息 -->
	<select id="findOutstockByOuttype" parameterType="java.lang.String" resultMap="findOutstockMap">
		select * from outstock where type=#{type}
	</select>
	
	<!-- 查看所有出库信息 -->
	<select id="findOutstock" resultMap="findOutstockMap">
		select * from outstock
	</select>
	
	<!-- 根据id查询出库信息 -->
	<select id="findOutstockById" parameterType="java.lang.Integer" resultMap="findOutstockMap">
		select * from outstock where id=#{id}
	</select>
	
	<!-- 修改出库信息 -->
	<update id="updateOutstockById" parameterType="cn.edu.fjnu.entity.Outstock">
		update outstock set out_number=#{number},date=#{date},type=#{type},
		receiver=#{receiver},dept=#{dept},operator=#{operator},items=#{items},
		sumNum=#{sumNum},sumMoney=#{sumMoney},note=#{note} where id=#{id}
	</update>
	
	<!-- 添加出库信息 -->
	<select id="addOutstock" parameterType="cn.edu.fjnu.entity.Outstock">
		insert into outstock(out_number,date,type,receiver,dept,operator,items,sumNum,sumMoney,note) 
		values(#{number},#{date},#{type},#{receiver},#{dept},#{operator},#{items},#{sumNum},#{sumMoney},#{note}) 
	</select>
	
	<!-- 删除出库信息 -->
	<delete id="deleteOutstockById" parameterType="java.lang.Integer">
		delete from outstock where id=#{id}
	</delete>
</mapper> 

